html,body {
    height: 100%;
}
#back {
width:360px;
height: 640px;
background-image: url("./1.png");
background-size: 100% 100%;
 background-repeat: no-repeat;
  background-position : center;
}
* {
  margin: 0px;
  padding: 0px;
}
#backimage{
    vertical-align:top;
    max-width: 100%;
    max-height: auto;
}
